/* Imports */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Variable declaration on root for themes */
:root {
    --main-blue: rgb(64, 123, 255);
    --error: rgb(231, 80, 80);
}

:root.light {
    --dark-blue: rgb(40, 108, 255);
    --light: rgb(216, 228, 255);
    --secondary: rgb(237, 242, 254);
    --txt: white;
    --form-txt: rgb(29, 43, 58);
}

:root.dark {
    --dark-blue: rgb(51, 99, 205);
    --light: rgb(8, 18, 35);
    --secondary: rgb(6, 12, 25);
    --txt: rgb(29, 43, 58);
    --form-txt: rgb(159, 177, 216);
}

/* Main theme */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--txt);
}

body {
    overflow: hidden;
    background-color: var(--grey);

}

/* Main grid and placement */
main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--light);
}

.mainright {
    grid-column: 1;
    grid-row: 1 / end;
    background-color: var(--main-blue);
}

.mainvoidup {
    grid-column: 2 / 4;
    grid-row: 1;
}

.maincontent {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    height: 100%;
    border-radius: 5%;
    background-color: var(--secondary);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainbot {
    grid-column: 2 / 4;
    grid-row: 4;
    display: flex;
    align-items: end;
    justify-content: center;
}

/* The slider container */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    top: 2em;
    left: 25%;
    width: 60px;
    height: 34px;
}

.theme-toggle:hover {
    cursor: pointer;
}

/* The slider */
#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px;
}

/* The two themes */
#slider.dark {
    background-color: var(--dark-blue);
}

#slider.light {
    background-color: var(--dark-blue);
}

#slider.dark:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    background: url("moon.svg") no-repeat;
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+#slider.dark:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url("sun.svg");
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
}

#slider.light:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    background: url("sun.svg") no-repeat;
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+#slider.light:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url("moon.svg");
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
}

/* IMAGE ILLUSTRATION SECTION */
.image-container>img {
    width: calc(100%);
}

.company,
.image-container>.quote {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
    color: var(--txt);
}

.company {
    font-size: 2em;
    text-align: left;
    padding: 2% 0 0 5%;
    color: var(--txt);
}

.outro-overlay>.company {
    position: absolute;
    top: 0;
}

.mobile-btn-nav {
    display: none;
}

/* Form set up */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: right;
    gap: 45px;
    padding: 50px;
    color: var(--form-txt);
}

input {
    display: block;
    border-radius: 4px;
    border: 0;
    border-bottom: 1px solid var(--form-txt);
    padding: 6px 6px 6px 10px;
    margin-top: 5px;
    background-color: var(--light);
    transition: all .3s ease-in;
}

input::placeholder {
    color: var(--form-txt);
}

.submit-btn {
    border-radius: 4px;
    border: 0;
    padding: 10px 10px 10px 14px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--form-txt);
    background-color: var(--main-blue);
    cursor: pointer;
}

.btn-text {
    color: var(--form-txt);
}

.btn-text.link {
    color: var(--main-blue);
    cursor: pointer;
}

/* Effects */
input:focus {
    font-size: 1em;
    border-radius: 4px;
    color: var(--form-txt);
    background-color: var(--dark-blue);
    border: 1px solid var(--form-txt);
    box-shadow: 0 0 5px var(--main-blue);
}

input:focus-visible {
    outline: none;
}

/* Add not empty and those*/
input:valid {
    font-size: 1em;
    border-radius: 4px;
    color: var(--form-txt);
    background-color: var(--secondary);
    box-shadow: 0 0 10px var(--main-blue);
}

input:invalid:not(:placeholder-shown) {
    font-size: 1em;
    border-radius: 4px;
    color: var(--form-txt);
    background-color: var(--secondary);
    box-shadow: 0 0 10px var(--error);
}

/* TOP footer */
#footer_container {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 10%;
}

#Footer {
    border-radius: 10%;
    border: 0.25vw dotted rgb(187, 127, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.footer_descritption_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_description {
    color: var(--form-txt);
}

#TOP {
    margin: 0.5vw 0;
    width: 17vw;
    display: flex;
}