/* Imports */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* GENERAL */
/* Variable declaration on root for themes */
:root {
    --main-blue: rgb(64, 123, 255);
    --error: rgb(231, 80, 80);
}

:root.light {
    --dark-blue: rgb(40, 108, 255);
    --light: rgb(216, 228, 255);
    --secondary: rgb(237, 242, 254);
    --txt: white;
    --form-txt: rgb(29, 43, 58);
}

:root.dark {
    --dark-blue: rgb(51, 99, 205);
    --light: rgb(8, 18, 35);
    --secondary: rgb(6, 12, 25);
    --txt: rgb(29, 43, 58);
    --form-txt: rgb(159, 177, 216);
}

/* Main theme */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--txt);
}

body {
    /*overflow: hidden;*/
    background-color: var(--grey);

}

img{
    max-width: 100%;
}

/* Link styling */
a:not(:has(img)) {
    position: relative;
    top: 3px;
    border-bottom:solid 3px transparent;
    text-decoration: none;
}

a:not(:has(img))::before{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 3px solid;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

a:focus:not(:has(img))::before,
a:hover:not(:has(img))::before{
    transform-origin: left;
    transform: scaleX(1);
}

a:focus>img,
a:hover>img {
    background-color: var(--light);
    border-radius:20px;
    outline: 2px solid var(--dark-blue);
}

/* GRID */
/* Main grid and placement */
main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    background-color: var(--light);
}

.mainright {
    grid-column: 1;
    grid-row: 1 / end;
    background-color: var(--main-blue);
    min-width: 0;
}

.mainvoidup {
    grid-column: 2 / 4;
    grid-row: 1;
    min-width: 0;
}

.maincontent {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    height: 100%;
    border-radius: 5%;
    background-color: var(--secondary);
    text-align: center;
    min-width: 0;
}

.mainbot {
    grid-column: 2 / 4;
    grid-row: 4;
    display: flex;
    align-items: end;
    justify-content: center;
    min-width: 0;
}

.image-container {
    display: grid;
    height: 100dvh;
}

#form-title {
    grid-column: 1/3;
    font-size: 2em;
    text-align: left;
    padding: 2% 0 0 5%;
    color: var(--main-blue);
}

/* LEFT */
/* The slider container */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    top: 2em;
    left: 25%;
    width: 60px;
    height: 34px;
}

.theme-toggle:hover {
    cursor: pointer;
}

/* The slider */
#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px;
}

/* The two themes */
#slider.dark {
    background-color: var(--dark-blue);
}

#slider.light {
    background-color: var(--dark-blue);
}

#slider.dark:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    background: url("../Assets/images/moon.svg") no-repeat;
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+#slider.dark:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url("../Assets/images/sun.svg");
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
}

#slider.light:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    background: url("../Assets/images/sun.svg") no-repeat;
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+#slider.light:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url("../Assets/images/moon.svg");
    background-size: contain;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
}

/* Image section */
.image-container>img {
    position: relative;
    left: -10%;
    width: calc(120%);
    max-width: 120%;
}

.company,
.image-container>.quote {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
    color: var(--txt);
}

.company {
    font-size: 2em;
    text-align: left;
    padding: 2% 0 0 5%;
    color: var(--txt);
}

.outro-overlay>.company {
    position: absolute;
    top: 0;
}

.mobile-btn-nav {
    display: none;
}

/* RIGHT */
/* Text up*/
.text-up-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    opacity: 0;
}

.text-up {
    font-size: 1.2rem;
    color: var(--form-txt);
}

.text-up-container:hover {
    opacity: 100;
    transition: all 0.3s ease-in-out;
}

b {
    color: var(--form-txt);
}

/* Form set up */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    padding: 50px; 
    color: var(--form-txt);
    place-content: center;
}

input {
    display: block;
    border-radius: 4px;
    border: 0;
    border-bottom: 1px solid var(--form-txt);
    padding: 6px 6px 6px 10px;
    margin-top: 5px;
    background-color: var(--light);
    transition: all .3s ease-in;
}

input::placeholder {
    color: var(--form-txt);
}

.submit-btn {
    border-radius: 4px;
    border: 0;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: var(--form-txt);
    background-color: var(--main-blue);
    cursor: pointer;
}

.btn-text {
    color: var(--form-txt);
}

.btn-text.link {
    color: var(--main-blue);
    cursor: pointer;
}

/* Effects */
input:focus {
    font-size: 1em;
    border-radius: 4px;
    color: var(--form-txt);
    background-color: var(--dark-blue);
    border: 1px solid var(--form-txt);
    box-shadow: 0 0 5px var(--main-blue);
}

input:focus-visible {
    outline: none;
}

/* Add not empty and those*/
input:valid {
    font-size: 1em;
    border-radius: 4px;
    color: var(--form-txt);
    background-color: var(--secondary);
    box-shadow: 0 0 10px var(--main-blue);
}

input:invalid:not(:placeholder-shown) {
    font-size: 1em;
    border-radius: 4px;
    color: var(--form-txt);
    background-color: var(--secondary);
    box-shadow: 0 0 10px var(--error);
}

/* TOP footer */
#footer_container {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 15px;
    margin: 0.5rem;
}

#Footer {
    border-radius: 15px;
    border: 0.25vw dotted rgb(187, 127, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.footer_descritption_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_description {
    margin-left: 0.2rem;
    color: var(--form-txt);
}

#logo-me {
    position: relative;
    margin: 0.2rem;
    height: 35px;
    max-width: 100%;
}

#TOP {
    width: 17vw;
    display: flex;
    max-width: 100%;
}

/* Responsive design */

@media only screen and (max-width: 600px) {
    main {
        display: grid;
        grid-template-rows: 100dvh minmax(100dvh, auto);
        grid-template-columns: 100dvw;
        overflow: hidden;
        height: 100dvh;
        background-color: var(--light);
    }
    
    .mainright {
        display: flex;
        place-content: center;
        background-color: var(--main-blue);
    }

    .mainvoidup {
        display: flex;
    }

    .maincontent {
        display: flex;
    }

    .mainbot {
        display: flex;
    }

    .image-container{
        display: grid;
        place-items: center;
        width: 100vw;
    }

    /* The slider container */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch {
        position: absolute;
        top: 2em;
        left: 70%;
        width: 60px;
        height: 34px;
    }

    .quote{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 19px;
    }

    .theme-toggle:hover {
        cursor: pointer;
    }

    .mobile-btn-nav {
        position: absolute;
        display: block;
        bottom: 0;
        width: 10%;   
        transform: scale(.5);
    }
}