/* Imports */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Variable declaration on root */

:root {
    --dark-blue: rgb(51, 99, 205);
    --main-blue: rgb(64, 123, 255);
    --light-blue: rgb(216, 228, 255);
    --pale-blue: rgb(237, 242, 254);
}

:root.light {
    --txt: white;
    --under-txt: rgba(8, 69, 245, 0.7);
    --form-txt: rgba(255, 255, 255, .5);
    --light-grey: rgb(189, 189, 190);
    --grey: rgb(135, 135, 136);
}

:root.dark {
    --txt: rgb(29, 43, 58);
    --under-txt: rgba(8, 69, 245, 0.7);
    --form-txt: rgba(255, 255, 255, .5);
    --light-grey: rgb(105, 105, 105);
    --grey: rgb(68, 68, 68);
}

@media (prefers-color-scheme: light) {
    :root {
        --dark-blue: rgb(51, 99, 205);
        --main-blue: rgb(64, 123, 255);
        --light-blue: rgb(216, 228, 255);
        --pale-blue: rgb(237, 242, 254);
        --txt: white;
        --under-txt: rgba(8, 69, 245, 0.7);
        --form-txt: rgba(255, 255, 255, .5);
        --light-grey: rgb(189, 189, 190);
        --grey: rgb(135, 135, 136);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark-blue: rgb(51, 99, 205);
        --main-blue: rgb(64, 123, 255);
        --light-blue: rgb(216, 228, 255);
        --pale-blue: rgb(237, 242, 254);
        --txt: rgb(29, 43, 58);
        --under-txt: rgba(8, 69, 245, 0.7);
        --form-txt: rgba(255, 255, 255, .5);
        --light-grey: rgb(105, 105, 105);
        --grey: rgb(68, 68, 68);
    }
}

/* Main theme */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--txt);
}

body {
    /*overflow: hidden;*/
    background-color: var(--grey);

}

/* Main grid and placement */
main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.mainright {
    grid-column: 1;
    grid-row: 1 / end;
    background-color: var(--main-blue);
}

.mainvoidup {
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: var(--light-grey);
}

.maincontent {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    height: 100%;
    background-color: var(--grey);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainbot {
    grid-column: 2 / 4;
    grid-row: 4;
    background-color: var(--light-grey);
}

/* Toogle Mode */
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-toggle:hover {
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    top: 2em;
    left: 25%;
    width: 60px;
    height: 34px;
}

/* The slider */
/* 
[type="checkbox"] {
    background: url("moon.svg") no-repeat 80% 50%
}
*/

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-blue);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    /*
    content: url("moon.svg");*/
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* IMAGE ILLUSTRATION SECTION */

.image-container>img {
    width: calc(100%);
}

.company,
.image-container>.quote {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 19px;
    color: var(--txt);
}

.company {
    font-size: 34px;
    text-align: left;
    height: 70px;
    align-self: flex-start;
    padding: 2% 0 0 5%;
}

.outro-overlay>.company {
    position: absolute;
    top: 0;
}

.mobile-btm-nav {
    display: none;
}