@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Variable declaration on root */
:root {
    --dark-blue: rgb(8, 69, 245);
    --medium-blue: rgb(31, 133, 249);
    --light-blue: rgb(195, 231, 255);
    --pale-blue: rgb(223, 243, 254);
    --under-txt: rgba(8, 69, 245, 0.7);

    --form-txt: rgba(255, 255, 255, .5);
    --dark: #1d2b3a;
    --light-grey: rgb(105, 105, 105);
}

/* Main theme */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /*overflow: hidden;*/
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1f);
}



.mainright {
    grid-column: 1;
}

.mainvoidup {
    grid-area: 1/ 2 / 1 / 3;
    background-color: var(--dark);
}

.maincontent {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--dark);
}

.mainbot {
    grid-column: 2/3;
    grid-row: 4;
    background-color: var(--dark);
}

img {
    height: 100vh;
    width: 100%;
}

span {
    color: var(--light-blue);
    background-color: var(--medium-blue);
}